.App {
  align-items: center;
}

.box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:60rem;
  height: 60rem;
  background-color: aqua;
  margin:auto;
}

.navbar{
  height: 8rem;
  background-color: greenyellow;
}

.navbar > img{
  height:8rem;
}